<div class="row justify-content-center">
<div class="col-4">

<%= form_for(resource,
  as: resource_name,
  url: registration_path(resource_name),
  html: {class: 'form'}
  ) do |f| %>
  <%= devise_error_messages! %>

  <h2>Sign up</h2>

  <div class="form-group">
    <%= f.label :email %>
    <%= f.email_field :email,
    class: 'form-control',
    autofocus: true %>
  </div>

  <div class="form-group">
    <%= f.label :address %>
    <div class="row">
      <div class="col-md-10">
          <%= f.text_field :address,
          class: 'form-control' %>
      </div>
      <div class="col-md-2">
        <%= link_to "#", class: "btn btn-primary", id: "find-address" do %>
          <i class="fa fa-map-marker"></i>
        <% end %>
      </div>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password,
      autocomplete: "off",
      class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation,
      autocomplete: "off",
      class: 'form-control' %>
  </div>

  <div class="actions">
    <%= f.submit "Sign up", class: 'btn btn-success' %>
  </div>
  <%= render "devise/shared/links" %>

<% end %>

</div>
</div>

<script>
  $("#find-address").click(function(event){
    event.preventDefault();

    $(this).html('<i class="fa fa-spinner fa-spin"></i>');
    
    if (navigator.geolocation) {
      navigator.geolocation.getCurrentPosition(getAddress);
    } else {
      x.innerHTML = "Geolocation is not supported by this browser.";
    }
  });

  function getAddress(position) {
    var latitude = position.coords.latitude;
    var longitude = position.coords.longitude;

    $.ajax({
      url: '/geocoder/findaddress',
      type: 'GET',
      dataType: 'script',
      data: {latitude: latitude, longitude: longitude}
    })
    .done(function() {
      console.log("success");
    })
    .fail(function() {
      console.log("error");
    })
    .always(function() {
      $("#find-address").html('<i class="fa fa-map-marker"></i>');
    });
  }
  
</script>
